//font colors

$font-color-black: #000000;
$font-color-gray: #a6a6a6;
$font-color-light-gray: #cecece;
$font-color-blue: #003f92;

// background colors

$background-color-gradient: #e2e2e26d, #ffffff;
$background-color-white: #ffffff;
$background-color-transparent: rgba(255, 255, 255, 0);

// border colors
$border-color-light-gray: #f0f0f0;
